* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
}

section {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}

.japanese {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
}

@keyframes loop {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.main-wrapper {
    display: flex;
    .section-1 {
        display: flex;
        .box1 {
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: center;
            .name {
                font-size: 150px;
            }
        }
        .box2 {
            width: 35%;
            
            .image-gallery {
                display: flex;
                min-height: 100vh;
                // justify-content: end;

                align-items: center;
                .col {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        min-height: 300px;
                        height: 300px;
                        width: 200px;
                        object-fit: cover;
                        background-color: black;
                    }
                }

                .col1 img,
                .col3 img {
                    padding: 0.2rem 0.5rem;
                }
                .col2 img {
                    padding: 0.2rem 0;
                }
            }
        }
    }

    .section-2 {
        position: relative;
        .side-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            width: 65px;
            height: 100%;
            background-color: antiquewhite;
            padding: 2rem;
            position: absolute;
            left: -10%;
            opacity: 0;
            top: 0;
            z-index: 50;
            div {
                transform: rotate(-90deg);
            }
            .des {
                font-size: 10px;
            }
        }
        .wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            .left {
                padding: 0  0.8rem;
                width: 65%;
                .line1 {
                    display: flex;
                    padding: 1rem;
                    justify-content: space-between;
                    .japanese {
                        font-family: "Noto Serif JP", serif;
                        font-weight: 400;
                        font-style: normal;
                        // font-size: 150px;
                        font-weight: 600;
                    }
                }
                .line2 {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    position: relative;
                    .num {
                        text-align: left;
                        width: 100%;
                    }
                    .loop {
                        height: 50px;
                        width: 120px;
                        border-radius: 25px;
                        white-space: nowrap;
                        overflow: hidden;
                        position: absolute;
                        top: 65%;   
                        left: 80%;
                        background: none;
                        border: 1px solid #444;
                        cursor: pointer;
                        .one {
                            animation: loop 10s linear infinite ;
                            display: inline-block;
                            padding-left: 100%;
                            font-size: larger;
                        }

                    }
                    .loop2 {
                        .one {
                            animation-delay: 5s;
                        }
                    }
                    
                }
                img {
                    height: 400px;
                    width: 100%;
                    object-fit: cover;
                    
                }
            }
            .right {
                width: 35%;
                .animated-text {
                    height: 120px;
                    background-color: black;
                    color: white;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 100px;
                    .two {
                        display: flex;
                        gap: 1rem;
                        animation: loop 10s linear infinite;
                        display: inline-block;
                        
                        width: 100%;
                    }
                }
                .img-container {
                    width: 100%;
                    height: 780px;
                    padding: 0.5rem;
                    background-color: black;
                }
                .img-container img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        p {
            font-size: 80px;
        }
    }
}

.section-3 {
    background-color: black;
    margin-top: -100vh;
    position: relative;
    overflow:hidden;
    .rows {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 0.5rem;
        flex-direction: column;

        .row {

            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            height: 33.33%;
            color: white;
            font-size: 220px;
            
        }

        .row2 {
            background-color: white!important;
            color: black!important;;
        }

    
    }
}
